<div class="home">
  <div class="home-msg">
    <h2>B.Makesとは</h2>
    <p>自分と似た体型・同じ目的の人がどのような食事をしているか知ることができるアプリです</p>
    <p>P(タンパク質) F(脂質) C(炭水化物)で管理することで健康的にボディメイクできます</p>
    <p>記録をとるだけでも食生活改善に役立ちます</p>
    <%= image_tag "/info.png", class: "info-png" %>
  </div>
</div>
