<div class="home">
  <div class="home-msg">
    <h1>PFCバランスで管理した食事を共有しよう！</h1>
  </div>
  <div class="buttons">
    <div class="button">
      <%= link_to "今すぐ始める", new_user_path, class: "start-button" %>
    </div>
    <div class="button">
      <%= link_to "B.Makesとは", about_path, class: "about-button" %>
    </div>
  </div>
</div>



